.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.fileInfo {
  flex: 1;
}

.filePath {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

.actions {
  display: flex;
  flex-direction: row;
}

.actionButton {
  margin-left: 16px;
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}